table {
    border:none;
    border-collapse: collapse;
    width: 100%;
}

table th, td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table th:first-child, td:first-child {
    border-left: none;
}

table th:last-child, td:last-child {
    border-right: none;
}

button{
    height: 100px;
}
.wrapper {
    width:100%;
    height: 105px;
  }

  .first {
    width:5%;
    float:left;
  }

  .second {
    width:90%;
    float:left;
  }

  .third {
    width:5%;
    float:left;
  }